<!DOCTYPE html>
<html>
<head>
    <title>Welcome to the Medicine App</title>
</head>
<body>
    <h1>Welcome to the Medicine App</h1>
    <h2>Available Medicines</h2>

   
    <form method="get" action="{% url 'home' %}">
        <input type="text" name="q" value="{{ search_query }}" placeholder="Search for medicines...">
        <button type="submit">Search</button>
    </form>

    <ul>
        {% for medicine in medicines %}
            <li><a href="{% url 'medicine_detail' pk=medicine.pk %}">{{ medicine.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
